$bgColor: #2f3c43;
$maintFont: 'Sarabun', sans-serif;
$btnColor: #1796d1;
$btnHoverColor: #0e83b9;
$body-bg: #edf2f6;
$blue: #38a9ff;
$gray: #e6ecf5;
$gray-opacity: #fafbfd;
$extra-gray: #9a9fbf;
$extra-dark-gray: #888da8;
$orange: #ff5e3a;
$extra-orange: #fa6341;
@mixin boderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}
body{
    font-family: $maintFont;
    overflow: visible;
    background-color: $body-bg;
}
header{
    border-bottom: 1px solid #000;
}
.mainBgColor{
    background-color: $bgColor;
}
.loginForm{
    background-color: #eceef1;
    // @include boderRadius(5px);
    max-width: 400px;
    transform: translate(-50%,-50%);
    // padding: 10px 30px 30px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left:50%;
}
.input{
    outline: none;
    background-color: #dde3ec;
    border: 1px solid #dde3ec;
    &:focus{
        border: 1px solid #c3ccda;
    }
}
.button{
    background-color: $btnColor;
    color: #ffffff;
    border: 1px solid $btnColor;
    cursor: pointer;
    &:active, &:hover{
        background-color: $btnHoverColor;
        border:  1px solid $btnHoverColor;
    }
    &:focus{
        outline: none;
    }
    a{
        text-decoration: none;
        color: #ffffff;
        outline: none;
    }
}
.buttonBack{
    background-color: #fff;
    color: #6c7a8d;
    cursor: pointer;
    border: 1px solid #fff;
    &:focus{
        outline: none;
    }
    &:active, &:hover{
        background-color: #fafaff;
        color: #45b6af;
        border: 1px solid #fafaff;
    }
}
.paddingForm{
    padding: 0px 30px;
}
.textMain{
    color: $btnColor;
}
.socialIcon{
    img{
        width: 28px;
        height: 28px;
        border-radius: 50%;
        margin-right: 10px;
    }
}
.copyright{
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}
.requireError{
    border: 1px solid #ee2323;
}
.middleDiv{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
.btnSearch{
    background: #dde3ec;
    border: none;
    border-left: solid 1px #151515;
    outline: none;
    cursor: pointer;
    &:active, &:focus{
        outline: none;
    }
}
.userImg1{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}
.user-img-3{
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: 5px solid #fff;
}
.noOutline{
    &:focus,&:hover{
        outline: none;
        text-decoration: none;
    }
}
.link{
    @extend .noOutline;
    color: #fff;
    width: fit-content;
    &:hover{
        text-decoration: none;
        // outline: none;
        background: $bgColor + 20;
        color: #fff;
    }
    border-radius: 5px;
    padding: 3px;
}
.positionBottom{
    // position: fixed;
    // bottom: 0;
    // right: 0;
    height: 70px;
    width:70px;
    box-shadow: 0 -50px 45px -3px rgba(255,255,255,.7);
    @extend .mainBgColor;
    i{
        color: #fff;
    }
    &:hover{
      a{
          color: $blue;
      }
    }
}
.big-bottom{
    width: 16rem;
}
.circleNavBtn{
    @extend .button;
    &:focus{
        background-color: #fff;
        color: $btnColor;
        // border: 1px solid #fff;
    }
    height: 2rem;
    width: 4rem;
    line-height: 2rem;
    font-size: 1.2rem;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.sideBar{
    ul{
        position: fixed;
        top: 20%;
        left: 0;
        li{
            padding: 1rem 2rem;
            text-align: center;
            font-size: 1.8em;
            transform: scale(0.8);
            cursor: pointer;
            &:hover,&:focus{
                transform: scale(1.1);
                transition-duration: 0.8s;
            }
            @media screen and (max-width: 425px) {
                padding: 0;
            }
        }
    }

}
.createStt{
    box-shadow: 1px 3px 5px #888888;
}
.inputStatus{
    transition:1s;
    &:focus{
        padding-bottom: 100px;
    }
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.bgBlue{
    background-color: #38a9ff;
}
.bgOrange{
    background-color: #ff5e3a;
}
.bgGreen{
    background-color: #0eed19;
}

.controlContainer{
    color: #fff;
}
.controlIcon{
    position: relative;
    cursor: pointer;
    padding: 1rem;
    font-size: 12px;
    i{
        font-size: 20px;
    }
    .labelAvatar{
        position: absolute;
        top: 10%;
        left: 60%;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 50%;
    }
    &:hover, &:focus{
        .dropDown{
            display: block;
        }
    }
}


.inline-item{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #e6ecf5;
    &:hover{
        background-color: #fafbfd;
    }
    img{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
.user-name{
    padding-left: 15px;
    width: 60%;
    font-size: 14px;
    a{
        text-decoration: none;
        color: #000000;
        font-weight: 600;
        &:hover,&:active,&:focus{
            text-decoration: none;
            color: $blue;
        }
    }
}
.notification-full-width{
    width: 100%;
}
.chat-message-item{
    color: $extra-gray;
}
.dropDown{
    display: none;
    position: absolute;
    top: 90%;
    right: -270%;
    // transform: translateX(-50%,-50%);
    z-index: 20;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    background-color: #fff;
    width: 360px;
    .dropDownTitle{
        border-bottom: 1px solid #e6ecf5;
        color: #9a9fbf;
    }
    .notification{
        max-height: 400px;
        overflow-y: auto;
        ul{
            margin-bottom: 0;
        }
    }
    &::before{
        position: absolute;
        display: inline-block;
        content: '';
        top: -6px;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 7px solid #fff;
        right:50%;
    }
}
.dropDownSms{
    right: -310%;
}
.dropDownBell{
    right: -328%;
}
.user-control-icon{
    &:hover{
        .dropDown{
            display: block;
        }
    }
    a{
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        span{
            font-weight: 600;
            &:hover{
                text-decoration: none;
                color: $blue;
            }
        }
    }
}
.user-control-dropdown{
    right: 0%;
    z-index: 30;
    width: 200px;
    li{
        a{
            color: #000;
            i{
                color: $extra-gray;
                margin-right: 1.5rem;
            }
        }
    }
    &::before{
        right: 40%;
    }
}
.btnAccept{
    @extend .bgBlue;
    padding: .375rem .75rem;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    opacity: .95;
    &:hover{
        text-decoration: none;
        color: #fff;
        opacity: 1;
    }
}
.btnDel{
    @extend .btnAccept;
    background-color: #9a9fbf;
}
.right{
    right: 0;
}

.fixed-sidebar{
    position: fixed;
    z-index: 22;
    min-height: 100%;
    top: 3.375rem;
    width: 4.375rem;
    .open{
        transform: translateX(0%);
        transition-delay: 0.3s;
        transition: transform .5s cubic-bezier(.55,0,.1,1);
    }
    .close{
        transform: translateX(-100%);
        transition-duration: 0.3s;
        transition: transform .5s cubic-bezier(.55,0,.1,1);
    }
    .close-1{
        transform: translateX(100%);
        transition-duration: 0.3s;
        transition: transform .5s cubic-bezier(.55,0,.1,1);
    }
}
.fixed-sidebar-left{
    position: absolute;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    .customScrollBar{
        height: calc(100% - 7.8rem);
        bottom: 0;
    }
    .left{
        height: 100%;
    }
    a{
        img{
            @extend .userImg1
        }
        display: block;
        padding: 20px;
        color: #9a9fbf;
        &:hover{
            color: $blue;
        }
    }
}
.sidebar--large{
    width: 14.5rem;
    transform: translateX(-100%);
    li{
        &:hover{
            background-color: $gray;
        }
    }
    a{
        padding: 1.5rem 0rem 1rem 1rem;
        text-align: left;
        text-decoration: none;
        font-size: .95rem;
        i{
            margin-right: 1rem;
        }
        &:hover,&:focus{
            span{
                color: #000;
                font-weight: 600;
            }
            i{
                color: $blue;
            }
        }
    }
}
.sidebar--large-right{
    width: 16rem;
    transform: translateX(100%);
}
.scroll{
    overflow: auto;
}
.rightItem{
    margin-bottom: 2.5rem;
    .content{
        line-height: 2;
        background-color: $btnHoverColor;
        padding: 2.5rem 1.875rem;
        color: #fff;
        a{
            display: block;
            margin-bottom: 2.5rem;
            text-decoration: none;
            opacity: .98;
            &:hover{
                color: #fff;
                opacity: 1;
            }
            img{
                border: 2px solid #fff;
            }
        }
        input[type=button]{
            @extend .bgOrange;
            padding: 0rem 1.5rem;
            border: 1px solid;
            margin-top: 1.5rem;
            &:hover{
                background-color: $extra-orange;
            }
        }
        input[type=text]{
            border: none;
            outline: none;
        }
    }
    .friend-suggestion{
        background-color: #fff;
        // padding-top: 40px;
        p{
            border-bottom: 1px solid $gray;
        }
    }
}
.status{
    background-color: #fff;
    border-bottom: 1px solid $gray;
    i{
        font-size: 24px;
    }
    input{
        border: none;
    }
}
.status-title{
    background-color: $gray-opacity;
    div{
        border-right: $gray 1px solid;
    }
    text-align: center;
    a{
        i{
            color: $blue;
            font-size: 1.125rem;
        }
        color: #000;
        font-size: 1rem;
        font-weight: 600;
        &:hover{
            text-decoration: none;
        }
    }
}
.status-footer{
    a{
        font-size: 20px;
        color: $extra-gray;
        padding: 20px 10px;
        &:hover{
            color: $blue;
        }
    }
}
.cover-background-user{
    position: absolute;
    bottom: -3rem;
    left: 5.5rem;
    z-index: 5;
    display: flex;
    align-items: center;
}
.user-content{
    color: #fff;
    a{
        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }
}

.profile-menu{
    display: flex;
    justify-content: space-around;
    li a{
        font-size: 14px;
        color: $extra-gray;
        font-weight: 600;
        &:hover{
            text-decoration: none;
            color: #151515;
        }
    }
    li a.active{
        color: #151515;
    }
}
.page-content{
    margin-bottom: 5rem;
}
.user-blog{
    @extend .status;
    i{
        font-size: 14px;
        color: $extra-dark-gray;
        &:hover{
            color: $blue;
        }
    }
    a{
        color: #000;
    }
    padding: 1.5rem;
    margin-top: 1rem;
}
.user-blog--header{
    display: flex;
    margin-bottom: 1rem;
    img{
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}
.user-date{
    width: 90%;
    a{
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
    }
}
.date-post{
    font-size: 12px;
    color: $extra-gray;
}
.post-set{
    cursor: pointer;
    position: relative;
    &:hover, &:focus{
        .post-set--dropdown{
            display: block;
        }
    }
}
.post-set--dropdown{
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 23;
    color: #000;
    font-weight: 600;
    width: 8rem;
    // padding: .5rem 1rem;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
    li{
        padding: .5rem 1rem;
        &:hover{
            background-color: $gray;
        }
        a{
            text-decoration: none;
            &:hover{
                color: $blue;
            }
        }
    }
}
.line-gray{
    height: 1px;
    background-color: $gray;
}
.user-blog--content{
    padding-bottom: 2.5rem;
}
.user-blog-control{
    position: absolute;
    top:10%;
    right: -2%;
}
.control-container{
    width: 2rem;
    height: 2rem;
    line-height: 1rem;
    padding: .5rem;
    background-color: $extra-gray;
    border-radius: 50%;
    margin-bottom: .45rem;
    i{
        color: #fff;
        font-size: 1rem;
    }
    &:hover{
        background-color: $blue;
        i{
            color: #fff;
        }
    }
}
.post-thumb{
    margin-bottom: 1rem;
    img{
        width: 100%;
    }
}
.user-thumb--container{
    padding: 1.25rem;
}
.chat-right{
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
}
.chat-name{
    a{
        padding-top: 0;
        padding-bottom: 0;
        color: #000;
        font-weight: 600;
    }
}
.user-thumb{
    cursor: pointer;
    position: relative;
}
.icon-status{
    width: 0.5rem;
    height: .5rem;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
}
.online{
    background-color: $blue;
}
.offline{
    background-color: $extra-orange;
}
.mobile--open{
    height: 100%;
    text-align: center;
    color: #fff;
}
@media (min-height: 576px) and (max-width:767px){
    .cover-background-user{
        bottom: 0rem;
        left: .5rem;
    }
    .fixed-sidebar{
        top: 5.875rem;
    }
    .fixed-sidebar-left .customScrollBar{
        height: calc(100% - 9.8rem);
    }
    .sidebar--small{
        display: none;
    }
    .user-blog-control{
        right: -3%;
    }
}
@media (min-width: 768px)  and (max-width:991px) {
    .cover-background-user{
        bottom: -3.5rem;
        left: .5rem;
    }
    .profile-section{
        padding-left: 6rem;
    }
    .status-title{
        a{
            font-size: .65rem;
        }
    }
    .user-name {
        a {
            font-size: .55rem;
        }
    }
    .inline-item{
        padding: .5rem;
    }
    .acceptRequest{
        padding: .2rem .5rem;
        line-height: 2rem;
    }
    .user-blog-control{
        right: -4%;
    }
    body{
        font-size: .65rem;
    }
    .rightItem{
        .content{
            padding: 1rem;
        }
        .fr-birth-name{
            font-size: 1rem;
        }
    }
}
@media (min-width: 992px){
    .cover-background-user{
        bottom: -3rem;
        left:3.5rem;
    }
    .status-title{
        a{
            font-size: .8rem;
        }
    }
    .user-name {
        a {
            font-size: .7rem;
        }
    }
    .user-blog-control{
        right: -3%;
    }
    .profile-section{
        padding-left: 0;
    }
}

